/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Estilos CSS para el encabezado */
header {
    background-color: #2d2270;
    color: #fff;
    padding: 20px;
    text-align: center; /* Centrar el contenido del encabezado */
}

.logo img {
    width: 250px;
    height: auto;
}

/* Estilos CSS para el menú */
nav {
    background-color: #2d2270;
    color: #fff;
    padding: 10px;
    text-align: center; /* Centrar el contenido del menú */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para el contenido */
.container {
    padding: 20px;
    padding-bottom: 60px; /* Añade espacio en la parte inferior para el footer */
    text-align: center; /* Centra el contenido */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 800px; /* Máximo ancho del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 2px 4px rgba(34, 13, 92, 0.1); /* Añade sombra */
}
